/*医生登录激活页面*/
body{background-color:#f6f7f9;}
.js-active{display:none;}
.sure-info i,
.doctor-start-wrap .active-btn .notice i,
.doctor-start-wrap .add-info-box .filed-result span a,
.experience-item .add-experience-item-btn span i{background:url(../../img/images/drInfo.png) no-repeat;}
.sure-info{-webkit-transition: background 0.2s linear;transition: background 0.2s linear;height:63px;background-color:#3377c8;text-align:center;line-height:63px;font-size:16px;color:#fff;}
.sure-info i{display:inline-block;width:24px;height:24px;vertical-align:middle;margin-right:10px;background-position:-105px -25px;}
.error{background: #ec4a3b;}
.error i{display:none;}
.doctor-start-wrap{padding:30px;width:900px;margin:30px auto 0 auto;background-color:#fff;border:1px solid #dddee0;color:#333;font-size:14px;}
.doctor-start-wrap h3{font-size:20px;padding-bottom:15px;border-bottom:1px solid #dddee0;font-weight:100;}
.doctor-start-wrap p{margin-top:10px;}
.doctor-start-wrap .dr-name{font-size:24px;margin-top:30px;}
.doctor-start-wrap .dr-name span{color:#999;margin:0 10px;}
.doctor-start-wrap .dr-name em{font-size:20px;}
.doctor-start-wrap .hosp-name{font-size:18px;}
.doctor-start-wrap .desc-title{font-size:20px;color:#3377c8;margin:40px 0 20px;}
.doctor-start-wrap .desc-con{background-color:#f6f7f9;padding:15px;border:1px solid #f2f2f2;font-size:12px;color:#777;line-height:24px;}
.doctor-start-wrap .desc-con h5{font-size:16px;color:#333;font-weight:100;}
.doctor-start-wrap .active-btn{margin-top:60px;padding-top:30px;border-top:1px solid #dddee0;}
.doctor-start-wrap .active-btn .next-btn{float:left;width:102px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:14px;background-color:#3377c8;cursor:pointer;}
.doctor-start-wrap .active-btn .notice{float:left;margin-left:20px;line-height:40px;font-size:12px;color:#ec4a3b;}
.doctor-start-wrap .active-btn .notice i{display:inline-block;vertical-align:middle;width:16px;height:13px;background-position:-98px -3px;margin-right:6px;}

.doctor-start-wrap .add-info-box{margin-bottom:25px;width:700px;}
.doctor-start-wrap .add-info-box h4{font-size:14px;color:#848484;font-weight:100;margin-bottom:10px;}
.doctor-start-wrap .add-info-box .add-text{-webkit-transition: border-color 0.2s linear;float:left;width:564px;padding:0 15px;height:40px;line-height:40px;font-size:14px;border:1px solid #d9d9d9;color:#666;}
.doctor-start-wrap .add-info-box .add-btn{float:right;width:86px;height:40px;margin-top:1px;background-color:#3377c8;font-size:14px;color:#fff;text-align:center;line-height:40px;border:none 0;cursor:pointer;}
.doctor-start-wrap .add-info-box .filed-result{display: none;padding:0 10px 10px;background-color:#f7f7f7;margin-top:20px;}
.doctor-start-wrap .add-info-box .filed-result span{display:inline-block;padding:0 32px 0 6px;height:30px;line-height:30px;color:#fff;background-color:#3377c8;margin:10px 19px 0 0;position:relative;}
.doctor-start-wrap .add-info-box .filed-result span a{position:absolute;top:11px;right:9px;width:9px;height:9px;overflow:hidden;background-position:-65px -99px;}
.doctor-start-wrap .split-line{height:0px;overflow:hidden;border-bottom:1px dashed #e5e5e5;}
.experience-item{margin:30px 0;}
.experience-item .exp-item{position: relative;overflow: hidden;margin-top: 30px;}
.experience-item .exp-item .delete{position: absolute;right: 0;top:28px;color:#818181;cursor: pointer;}
.experience-item .exp-item .split-line{margin-bottom: 30px;}
.experience-item h4{font-size:14px;color:#848484;font-weight:100;margin-bottom:10px;}
.experience-item .field input{-webkit-transition: border-color 0.2s linear;float:left;width:120px;padding:10px 15px;height:20px;line-height:20px;font-size:14px;border:1px solid #d9d9d9;color:#666;}
.experience-item .field .name-input{width:420px;}
.experience-item .field .section-input{margin-right:30px;}
.experience-item .field .time-input{width:60px;}
.experience-item .field .now-input{width:auto;padding:0;margin:10px 0 0 10px;*margin-top:5px;}
.experience-item .field .now-label{float:left;margin-left:5px;color:#848484;line-height:40px;}
.experience-item .field .line{float:left;width:25px;height:1px;overflow:hidden;background-color:#ccc;margin:22px 10px 0;}
.experience-item .field .txt{float:left;line-height:42px;font-size:14px;color:#333;}
.experience-item .field .title{padding-left:10px;width:180px;height:40px;line-height:40px;font-size:14px;border:1px solid #d9d9d9;color:#666;}
.experience-item .add-description{margin:10px 0;font-size:14px;color:#3377c8;}
.experience-item .add-description a{color:#3377c8;}
.experience-item .add-experience-item-btn{display:block;height:38px;background-color:#f7f7f7;color:#818181;line-height:38px;text-align:center;font-size:14px;}
.experience-item .add-experience-item-btn span{display:inline-block;width:21px;height:21px;background-color:#272c40;margin-right:10px;vertical-align:middle;position:relative;}
.experience-item .add-experience-item-btn span i{position:absolute;width:11px;height:11px;background-position:-2px -315px;top:5px;left:5px;}
.experience-item .add-experience-item-btn:hover{background-color:#3377c8;color:#fff;}
.experience-item .add-experience-item-btn:hover span{background-color:#fff;}
.experience-item .add-experience-item-btn:hover span i{background-position:-14px -315px;}
.experience-item .work-description {display:none}
.experience-item .work-description textarea{padding: 7px 10px;font-size: 14px;border: 1px solid #d9d9d9;color: #666;width: 630px;height: 180px;outline:none;resize:none;}
.doctor-start-wrap .form-btn{margin-top:50px;}
.doctor-start-wrap .form-btn input{display:block;width:110px;height:40px;margin:0 auto;background-color:#3377c8;border:none 0;font-size:14px;color:#fff;cursor:pointer;}

.ipt-txt{ height: 26px; line-height: 26px;}
.btn-blue{ padding: 4px 12px; margin:0 10px;}
.btn-grey{ padding: 4px 12px; margin:0 10px;}